<h2>State</h2>

<%= "............#{@gregs_state[0]} #{@gregs_state[0]}" %>
<div>&emsp;</div>
<%= "............#{@gregs_state[0]} #{@gregs_state[0]}" %>
<div>&emsp;</div>
<div>&emsp;</div>
<%= "#{@gregs_state[4]} #{@gregs_state[4]}..............#{@gregs_state[1]} #{@gregs_state[1]}" %>
<div>&emsp;</div>
<%= "#{@gregs_state[4]} #{@gregs_state[4]}..............#{@gregs_state[1]} #{@gregs_state[1]}" %>

<div>&emsp;</div>
<%= "#{@gregs_state[3]} #{@gregs_state[3]}..............#{@gregs_state[2]} #{@gregs_state[2]}" %>
<div>&emsp;</div>
<%= "#{@gregs_state[3]} #{@gregs_state[3]}..............#{@gregs_state[2]} #{@gregs_state[2]}" %>


<h2>Target</h2>

<%= "............#{@gregs_target[0]} #{@gregs_target[0]}" %>
<div>&emsp;</div>
<%= "............#{@gregs_target[0]} #{@gregs_target[0]}" %>
<div>&emsp;</div>
<div>&emsp;</div>
<%= "#{@gregs_target[4]} #{@gregs_target[4]}..............#{@gregs_target[1]} #{@gregs_target[1]}" %>
<div>&emsp;</div>
<%= "#{@gregs_target[4]} #{@gregs_target[4]}..............#{@gregs_target[1]} #{@gregs_target[1]}" %>
<div>&emsp;</div>
<%= "#{@gregs_target[3]} #{@gregs_target[3]}..............#{@gregs_target[2]} #{@gregs_target[2]}" %>
<div>&emsp;</div>
<%= "#{@gregs_target[3]} #{@gregs_target[3]}..............#{@gregs_target[2]} #{@gregs_target[2]}" %>
