<h1>Target</h1>

<%= "With the joker in the back, your target (clockwise from top right) is:
  #{@gregs_target[1]} => #{@gregs_target[2]} => #{@gregs_target[3]} => #{@gregs_target[4]}." %>


<div>&emsp;</div>
<%= "............#{@gregs_target[0]} #{@gregs_target[0]}" %>
<div>&emsp;</div>
<%= "............#{@gregs_target[0]} #{@gregs_target[0]}" %>
<div>&emsp;</div>
<div>&emsp;</div>
<%= "#{@gregs_target[4]} #{@gregs_target[4]}..............#{@gregs_target[1]} #{@gregs_target[1]}" %>
<div>&emsp;</div>
<%= "#{@gregs_target[4]} #{@gregs_target[4]}..............#{@gregs_target[1]} #{@gregs_target[1]}" %>

<div>&emsp;</div>
<%= "#{@gregs_target[3]} #{@gregs_target[3]}..............#{@gregs_target[2]} #{@gregs_target[2]}" %>
<div>&emsp;</div>
<%= "#{@gregs_target[3]} #{@gregs_target[3]}..............#{@gregs_target[2]} #{@gregs_target[2]}" %>

<div>&emsp;</div>
<label for="back">What is the piece in the back?</label>
<select id="back" name="back" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="top_right">What is the piece in the top right?</label>
<select id="top_right" name="top_right" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="bottom_right">What is the piece in the bottom right?</label>
<select id="bottom_right" name="bottom_right" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="bottom_left">What is the piece in the bottom left?</label>
<select id="bottom_left" name="bottom_left" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="top_left">What is the piece in the top left?</label>
<select id="top_left" name="top_left" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>

<form action="/state" id="state">
  <input id="name" type="text" name="blank">
  <button>Go to next step</button>   
</form>
